.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  border: 1px solid #d2d2d2;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  border: 1px solid #d2d2d2;
  border-width: 1px 1px 0 1px;
  line-height: 20px;
  vertical-align: middle;
}
.table > thead > tr > th {
  background-color: #f5f5f5;
  border-top: 0;
}
table th,
table td {
  background: #fff;
  text-align: center;
}
/* table theme */
.table-line > thead > tr > th,
.table-line > tbody > tr > th,
.table-line > tfoot > tr > th,
.table-line > thead > tr > td,
.table-line > tbody > tr > td,
.table-line > tfoot > tr > td {
  border-width: 1px 0 0 0;
}
/* noborder */
.noborder {
  border: 0 !important;
}
/* interleave */
.interleave-odd > tr:nth-child(odd) > th,
.interleave-odd > tr:nth-child(odd) > td {
  background-color: #f5f5f5;
}
.interleave-even > tr:nth-child(even) > th,
.interleave-even > tr:nth-child(even) > td {
  background-color: #f5f5f5;
}
/* hover */
table > .hover > tr:hover > th,
table > .hover > tr:hover > td {
  background-color: #f5f5f5;
}
/* align */
table.table-left > thead > tr > th,
table.table-left > thead > tr > td,
table.table-left > tbody > tr > th,
table.table-left > tbody > tr > td,
table.table-left > tfoot > tr > th,
table.table-left > tfoot > tr > td,
table > thead > .table-left > th,
table > thead > .table-left > td,
table > tbody > .table-left > th,
table > tbody > .table-left > td,
table > tfoot > .table-left > th,
table > tfoot > .table-left > td,
table > thead > tr > .table-left,
table > tbody > tr > .table-left,
table > tfoot > tr > .table-left {
  text-align: left;
}
table.table-right > thead > tr > th,
table.table-right > thead > tr > td,
table.table-right > tbody > tr > th,
table.table-right > tbody > tr > td,
table.table-right > tfoot > tr > th,
table.table-right > tfoot > tr > td,
table > thead > .table-right > th,
table > thead > .table-right > td,
table > tbody > .table-right > th,
table > tbody > .table-right > td,
table > tfoot > .table-right > th,
table > tfoot > .table-right > td,
table > thead > tr > .table-right,
table > tbody > tr > .table-right,
table > tfoot > tr > .table-right {
  text-align: right;
}
table.table-center > thead > tr > th,
table.table-center > thead > tr > td,
table.table-center > tbody > tr > th,
table.table-center > tbody > tr > td,
table.table-center > tfoot > tr > th,
table.table-center > tfoot > tr > td {
  text-align: center;
}
/* table status */
.table > thead > .danger > th,
.table > tbody > .danger > th,
.table > tfoot > .danger > th,
.table > thead > .danger > td,
.table > tbody > .danger > td,
.table > tfoot > .danger > td {
  background-color: #f2dede !important;
}
