@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/test\/JKXY\/login\/base\.scss}line{font-family:\000032}}
* {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/test\/JKXY\/login\/base\.scss}line{font-family:\000035}}
html {
  font-size: 40px;
  background-color: #f7f7f7; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/test\/JKXY\/login\/base\.scss}line{font-family:\000039}}
body {
  width: 16rem;
  margin: 0 auto;
  line-height: 1.4;
  background: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/test\/JKXY\/login\/base\.scss}line{font-family:\0000315}}
.app {
  position: relative;
  display: -webkit-flex;
  align-items: center;
  padding: 0.65rem 0.5rem;
  border-bottom: 1px solid #cfcfcf; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/www\/test\/JKXY\/login\/base\.scss}line{font-family:\0000321}}
  .app h1 {
    background: red; }
